html
{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
body
{
  /* Ubicaci칩n de la imagen
  background-image: url('../images/background.png');*/

  /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
  background-position: center center;

  /* Para que la imagen de fondo no se repita */
  background-repeat: no-repeat;

  /* La imagen se fija en la ventana de visualizaci칩n para que la altura de la imagen no supere a la del contenido */
  background-attachment: fixed;

  /* La imagen de fondo se reescala autom치ticamente con el cambio del ancho de ventana del navegador */
  background-size: cover;

  /* Se muestra un color de fondo mientras se est치 cargando la imagen de fondo o si hay problemas para cargarla */
  background-color: #212121;
}

.input-field .prefix.active
{
  color: #0091ea !important;
}
.input-field input:focus + label
{
  color: #0091ea !important;
}
/* label underline focus color */
.row .input-field input:focus
{
  border-bottom: 1px solid #0091ea !important;
  box-shadow: 0 1px 0 0 #0091ea !important
}
.input-field textarea:focus + label
{
  color: #0091ea !important;
}

.row .input-field textarea:focus
{
  border-bottom: 1px solid #0091ea;
  box-shadow: 0 1px 0 0 #0091ea;
}
.slider .indicators .indicator-item.active
{
  background-color: #0091ea !important;
}

.dropdown-content li > a, .dropdown-content li > span
{
  color: #0091ea !important;
}
